@font-face {
  font-family: 'RubikLt';
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SinkinSansLt';
  src: url("../fonts/SinkinSans-300Light.woff2") format("woff2"), url("../fonts/SinkinSans-300Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.arma-logo-dark {
  background-image: url(../images/sprite.png);
  background-position: -37px -120px;
  width: 100px;
  height: 44px; }

.calendar-icon {
  background-image: url(../images/sprite.png);
  background-position: -72px -266px;
  width: 35px;
  height: 36px; }

.cell-phone {
  background-image: url(../images/sprite.png);
  background-position: -174px -95px;
  width: 10px;
  height: 16px; }

.clock {
  background-image: url(../images/sprite.png);
  background-position: -184px -95px;
  width: 10px;
  height: 10px; }

.contact-location {
  background-image: url(../images/sprite.png);
  background-position: -107px -266px;
  width: 25px;
  height: 36px; }

.contact-mail-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px -195px;
  width: 30px;
  height: 30px; }

.contact-phone-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px -285px;
  width: 30px;
  height: 30px; }

.contact-skype-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px -255px;
  width: 30px;
  height: 30px; }

.contact-viber-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px -72px;
  width: 30px;
  height: 33px; }

.contact-watsapp-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px -135px;
  width: 30px;
  height: 30px; }

.facebook-mobile {
  background-image: url(../images/sprite.png);
  background-position: -174px -28px;
  width: 20px;
  height: 21px; }

.facebook {
  background-image: url(../images/sprite.png);
  background-position: -96px -164px;
  width: 40px;
  height: 40px; }

.find-on-map-icon {
  background-image: url(../images/sprite.png);
  background-position: -92px -204px;
  width: 35px;
  height: 36px; }

.fr_flag {
  background-image: url(../images/sprite.png);
  background-position: -139px -105px;
  width: 30px;
  height: 30px; }

.get-price-icon {
  background-image: url(../images/sprite.png);
  background-position: -37px -266px;
  width: 35px;
  height: 36px; }

.information-icon {
  background-image: url(../images/sprite.png);
  background-position: -56px -204px;
  width: 36px;
  height: 36px; }

.instant-call-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px 0px;
  width: 35px;
  height: 36px; }

.location {
  background-image: url(../images/sprite.png);
  background-position: -188px -69px;
  width: 10px;
  height: 14px; }

.logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 139px;
  height: 120px; }

.mail-mobile {
  background-image: url(../images/sprite.png);
  background-position: -174px -83px;
  width: 16px;
  height: 12px; }

.mail {
  background-image: url(../images/sprite.png);
  background-position: -56px -240px;
  width: 30px;
  height: 23px; }

.map-icon {
  background-image: url(../images/sprite.png);
  background-position: -139px -36px;
  width: 35px;
  height: 36px; }

.phone-mobile {
  background-image: url(../images/sprite.png);
  background-position: -174px -69px;
  width: 14px;
  height: 14px; }

.phone {
  background-image: url(../images/sprite.png);
  background-position: -174px 0px;
  width: 28px;
  height: 28px; }

.sa_flag {
  background-image: url(../images/sprite.png);
  background-position: -139px -225px;
  width: 30px;
  height: 30px; }

.scrolla-mobile {
  background-image: url(../images/sprite.png);
  background-position: -37px -164px;
  width: 19px;
  height: 102px; }

.scrolla {
  background-image: url(../images/sprite.png);
  background-position: 0px -120px;
  width: 37px;
  height: 204px; }

.spec-list-icon, .spec__list-item:before {
  background-image: url(../images/sprite.png);
  background-position: -190px -83px;
  width: 11px;
  height: 10px; }

.uk_flag {
  background-image: url(../images/sprite.png);
  background-position: -139px -165px;
  width: 30px;
  height: 30px; }

.whatsapp-mobile {
  background-image: url(../images/sprite.png);
  background-position: -174px -49px;
  width: 20px;
  height: 20px; }

.whatsapp {
  background-image: url(../images/sprite.png);
  background-position: -56px -164px;
  width: 40px;
  height: 40px; }

html, body {
  font-family: "RubikLt", Helvetica, Arial, sans-serif;
  position: relative;
  overflow-x: hidden; }
  html.detail, body.detail {
    padding-bottom: 30px; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  -webkit-transition: color ease .3s;
  transition: color ease .3s; }
  a, a:hover {
    text-decoration: none; }

h2 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6, p {
  color: #7a7b7d; }

.header {
  padding-top: 30px;
  border-bottom: 1px solid #7a7b7d;
  padding-left: 60px;
  padding-right: 60px; }
  @media (max-width: 1820px) {
    .header {
      padding-left: 0;
      padding-right: 0;
      min-height: 100px; } }
  @media (max-width: 768px) {
    .header {
      min-height: 60px;
      padding-top: 20px; } }
  .header__logo {
    padding-top: 0px;
    width: 33.333%;
    float: left; }
    @media (max-width: 768px) {
      .header__logo {
        width: 100%;
        text-align: center; } }
    @media (max-width: 1024px) {
      .header__logo img {
        width: 200px; } }
    @media (max-width: 768px) {
      .header__logo img {
        width: 150px; } }
  .header-logo__location {
    font-size: 21px;
    color: #7a7b7d;
    font-family: "RubikLt", Helvetica, Arial, sans-serif;
    font-style: italic;
    position: relative;
    top: 14px; }
    @media (max-width: 1024px) {
      .header-logo__location {
        font-size: 17px; } }
    @media (max-width: 768px) {
      .header-logo__location {
        font-size: 12px;
        top: 7px; } }

.navigation {
  float: left;
  width: 50%; }
  @media (max-width: 1366px) {
    .navigation {
      width: auto; } }
  @media (max-width: 768px) {
    .navigation {
      display: none; } }
  .navigation__list {
    padding-left: 0; }
  .navigation__list-item {
    display: inline; }
  .navigation__link {
    color: #7a7b7d;
    text-transform: uppercase;
    padding: 25px 10px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    position: relative;
    -webkit-transition: color ease .3s;
    transition: color ease .3s; }
    @media (max-width: 1820px) {
      .navigation__link {
        padding: 21px 5px;
        font-size: 12px; } }
    .navigation_footer .navigation__link {
      padding: 18px 10px; }
      @media (max-width: 1820px) {
        .navigation_footer .navigation__link {
          padding: 21px 5px; } }
    .navigation__link:after {
      content: ' ';
      position: absolute;
      bottom: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 0;
      height: 1px;
      text-decoration: none;
      -webkit-transition: width ease .3s;
      transition: width ease .3s;
      background-color: #7a7b7d; }
      .navigation_mobile .navigation__link:after {
        bottom: -1px;
        background-color: #f79628; }
    .navigation__link:hover {
      color: #f79628;
      text-decoration: none; }
      .navigation__link:hover:after {
        -webkit-transition: width ease .3s;
        transition: width ease .3s;
        width: 80%; }
        .navigation_mobile .navigation__link:hover:after {
          width: 100%; }
    .navigation_mobile .navigation__link {
      display: block;
      padding: 10px 15px 10px 30px;
      border-bottom: 1px solid #c7c8c9; }
  .navigation_footer {
    text-align: center; }
  .navigation.navigation_mobile {
    display: none;
    position: absolute;
    width: 200px;
    left: -220px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background-color: #fff;
    z-index: 9;
    top: 60px;
    height: 99vh;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 5px 10px;
            box-shadow: rgba(0, 0, 0, 0.7) 0 5px 10px; }
    .navigation.navigation_mobile.open {
      left: 0px; }
    @media (max-width: 768px) {
      .navigation.navigation_mobile {
        display: block; } }

.languages {
  position: relative;
  padding: 5px 0;
  min-height: 30px;
  width: 16.66%;
  float: right;
  top: 5px; }
  @media (max-width: 1366px) {
    .languages {
      position: absolute;
      top: 35px;
      right: 0; } }
  @media (max-width: 1024px) {
    .languages {
      top: 8px;
      right: 30px; } }
  @media (max-width: 768px) {
    .languages {
      display: none; }
      .languages.languages_mobile {
        display: block; } }
  .languages__icons {
    position: absolute;
    left: auto;
    right: 20px;
    display: inline-block; }
    .languages_mobile .languages__icons {
      right: 0;
      width: 100%;
      text-align: center; }
  .languages_icon {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px; }
  .languages.languages_mobile {
    width: 100%;
    position: relative;
    right: 0; }

.slider-wrapper.theme-default {
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .slider-wrapper.theme-default .nivoSlider {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    height: 88.6vh; }
    @media (max-width: 1820px) {
      .slider-wrapper.theme-default .nivoSlider {
        height: 83.7vh; } }
    @media (max-width: 1024px) {
      .slider-wrapper.theme-default .nivoSlider {
        height: 69.7vh; } }
    @media (max-width: 768px) {
      .slider-wrapper.theme-default .nivoSlider {
        height: 74.7vh; } }
  .slider-wrapper.theme-default .nivo-caption {
    font-size: 60px;
    letter-spacing: 3px;
    line-height: 60px;
    color: #f7f7f7;
    font-family: "RubikLt", Helvetica, Arial, sans-serif;
    text-shadow: 0px 3px 2px rgba(1, 1, 1, 0.59);
    background-color: rgba(205, 109, 87, 0.7);
    padding: 40px 30px 40px 370px;
    width: 55%;
    bottom: 30px; }
    @media (max-width: 1820px) {
      .slider-wrapper.theme-default .nivo-caption {
        padding: 40px 30px 40px 70px;
        font-size: 46.15385px; } }
    @media (max-width: 768px) {
      .slider-wrapper.theme-default .nivo-caption {
        z-index: 6;
        width: auto;
        max-width: 58.666%;
        padding: 10px;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: normal;
        left: 30px;
        background-color: rgba(109, 87, 49, 0.42);
        bottom: 50px; } }
  @media (max-width: 768px) {
    .slider-wrapper.theme-default .nivo-controlNav {
      position: relative;
      bottom: 60px;
      z-index: 7; } }
  .slider-wrapper.theme-default .nivo-controlNav a, .slider-wrapper.theme-default .nivo-controlNav a.active {
    background: none; }
  .slider-wrapper.theme-default .nivo-controlNav a.nivo-control {
    background: #7a7b7d;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 8px; }
    @media (max-width: 768px) {
      .slider-wrapper.theme-default .nivo-controlNav a.nivo-control {
        width: 15px;
        height: 15px; } }
    .slider-wrapper.theme-default .nivo-controlNav a.nivo-control.active {
      background: #c7c8c9; }

.side-panel {
  position: absolute;
  top: 0;
  right: -321px;
  background-color: transparent;
  height: 88.6vh;
  z-index: 8;
  -webkit-transition: right .3s;
  transition: right .3s;
  pointer-events: none; }
  @media (max-width: 1820px) {
    .side-panel {
      right: -281px; } }
  .side-panel_open {
    right: 0; }
  .side-panel__hamburger-bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    display: block;
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (max-width: 768px) {
      .side-panel__hamburger-bullet {
        width: 5px;
        height: 5px; } }
    .side-panel__hamburger-bullet--start, .side-panel__hamburger-bullet--end, .side-panel__hamburger-bullet--center {
      -webkit-transition: top .9s .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, opacity .9s, left .3s, background .3s, -webkit-transform .3s;
      transition: top .9s .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, opacity .9s, left .3s, background .3s, -webkit-transform .3s;
      transition: top .9s .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, transform .3s, opacity .9s, left .3s, background .3s;
      transition: top .9s .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, transform .3s, opacity .9s, left .3s, background .3s, -webkit-transform .3s; }
    .side-panel__hamburger-bullet--start {
      top: 0; }
    .side-panel__hamburger-bullet--center {
      top: 15px; }
      @media (max-width: 768px) {
        .side-panel__hamburger-bullet--center {
          top: 8px; } }
    .side-panel__hamburger-bullet--end {
      top: 30px; }
      @media (max-width: 768px) {
        .side-panel__hamburger-bullet--end {
          top: 16px; } }
    .side-panel__menu-list-item:hover .side-panel__hamburger-bullet {
      background-color: #f79628; }
  .side-panel__menu {
    position: relative;
    float: left;
    top: 120px;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 2px;
            box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 2px;
    pointer-events: all; }
    .detail .side-panel__menu {
      top: 55px; }
      @media (max-width: 768px) {
        .detail .side-panel__menu {
          top: 12px; } }
    @media (max-width: 768px) {
      .side-panel__menu {
        padding: 5px;
        top: 60px; } }
    .side-panel__menu-list {
      padding-left: 0; }
      @media (max-width: 768px) {
        .side-panel__menu-list {
          margin-bottom: 0; } }
    .side-panel__menu-list-item {
      margin: 15px 0;
      text-align: center; }
      @media (max-width: 768px) {
        .side-panel__menu-list-item {
          margin: 5px 0; } }
      .side-panel__menu-list-item--hamburger {
        margin: 5px 15px;
        min-height: 45px;
        position: relative;
        cursor: pointer; }
        @media (max-width: 768px) {
          .side-panel__menu-list-item--hamburger {
            min-height: 25px; } }
      .side-panel__menu-list-item--phone {
        margin-bottom: 0; }
      .side-panel__menu-list-item.active .side-panel__hamburger-bullet--start,
      .side-panel__menu-list-item.active .side-panel__hamburger-bullet--end {
        -webkit-transition: top .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, opacity .3s, left .9s .3s, background .3s, -webkit-transform .9s .3s;
        transition: top .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, opacity .3s, left .9s .3s, background .3s, -webkit-transform .9s .3s;
        transition: top .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, transform .9s .3s, opacity .3s, left .9s .3s, background .3s;
        transition: top .3s, border-radius .6s .3s, width .6s .3s, height .6s .3s, transform .9s .3s, opacity .3s, left .9s .3s, background .3s, -webkit-transform .9s .3s;
        top: 23px;
        width: 30px;
        border-radius: 0;
        height: 2px;
        left: -90%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
        @media (max-width: 768px) {
          .side-panel__menu-list-item.active .side-panel__hamburger-bullet--start,
          .side-panel__menu-list-item.active .side-panel__hamburger-bullet--end {
            top: 12px;
            left: -12px;
            width: 25px; } }
      .side-panel__menu-list-item.active .side-panel__hamburger-bullet--center {
        -webkit-transition: all .3s;
        transition: all .3s;
        opacity: 0; }
      .side-panel__menu-list-item.active .side-panel__hamburger-bullet--end {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .side-panel__menu-link {
      cursor: pointer;
      display: inline-block; }
      .side-panel__menu-link:hover {
        -webkit-transition: background-color ease .3s;
        transition: background-color ease .3s; }
    .side-panel__menu-icon {
      display: block; }
  .side-panel__content {
    position: relative;
    top: 0;
    right: 0;
    min-height: 88.6vh;
    width: 321px;
    background-color: #fff;
    padding: 30px;
    float: right;
    pointer-events: all; }
    @media (max-width: 1820px) {
      .side-panel__content {
        min-height: 83.7vh;
        width: 281px; } }
    @media (max-width: 768px) {
      .side-panel__content {
        min-height: 100vh; } }
    .side-panel_open .side-panel__content {
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 2px;
              box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 2px; }
  .side-panel__list {
    padding-left: 0; }
  .side-panel__link {
    color: #7a7b7d; }
    .side-panel__link:hover {
      color: #f79628; }
  .side-panel__caption {
    padding: 8px 0; }
  .side-panel__img {
    height: 141px; }
    @media (max-width: 1820px) {
      .side-panel__img {
        height: 120px; } }

.btn-scrolla {
  position: absolute;
  bottom: 15%;
  right: 31%;
  z-index: 6;
  cursor: pointer; }
  .btn-scrolla.scrolla-mobile {
    display: none; }
  @media (max-width: 1024px) {
    .btn-scrolla {
      bottom: 25%; } }
  @media (max-width: 768px) {
    .btn-scrolla {
      display: none; }
      .btn-scrolla.scrolla-mobile {
        display: block;
        right: 18%; } }

.btn_submit {
  background: #f79628;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: relative;
  float: right;
  -webkit-transition: background .3s;
  transition: background .3s; }
  .btn_submit:hover {
    background-color: #494949; }

.btn_hamburger {
  position: relative;
  left: 0;
  width: 35px;
  height: 23px;
  padding: 3px;
  display: none; }
  @media (max-width: 768px) {
    .btn_hamburger {
      display: block; } }
  .btn_hamburger__line {
    width: 20px;
    height: 3px;
    background-color: #000000;
    display: block;
    margin-bottom: 3px;
    position: relative;
    left: 7px;
    border-radius: 25%; }
    .open .btn_hamburger__line {
      -webkit-transition: .2s ease;
      transition: .2s ease;
      position: absolute;
      top: 50%;
      -webkit-transform-origin: center center;
              transform-origin: center center;
      opacity: 0; }
    .btn_hamburger__line_start {
      left: 0; }
      .open .btn_hamburger__line_start {
        -webkit-transform: rotate(45deg) translateY(-100%);
                transform: rotate(45deg) translateY(-100%);
        opacity: 1; }
    .btn_hamburger__line_end {
      left: 4px;
      margin-bottom: 0; }
      .open .btn_hamburger__line_end {
        -webkit-transform: rotate(-45deg) translateY(-100%);
                transform: rotate(-45deg) translateY(-100%);
        opacity: 1; }
  .btn_hamburger__text {
    position: absolute;
    left: 40px;
    top: 2px;
    color: #494949;
    font-size: 14px; }
  .btn_hamburger_contact {
    top: 15px;
    left: 10px; }

.btn_up {
  position: absolute;
  color: #494949;
  right: 20px;
  top: 15px;
  font-size: 9px; }
  .btn_up__icon {
    text-align: center; }
    .btn_up__icon .fa {
      font-size: 9px; }

.boxes {
  margin-top: 60px; }
  @media (max-width: 768px) {
    .boxes {
      display: none; } }

.box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 4px 16px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 4px 16px;
  min-height: 400px;
  margin-bottom: 100px; }

.image-box {
  position: relative;
  overflow: hidden; }
  .image-box__img {
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.info-box {
  padding: 40px 60px; }
  .info-box__title {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 40px;
    margin-top: 40px; }
  .info-box__copy {
    font-size: 18px;
    line-height: 1.2; }
  .info-box, .info-box__link {
    color: #7a7b7d; }
  .info-box__link {
    font-size: 15px;
    text-decoration: underline; }
    .info-box__link:hover {
      color: #f79628; }

.tab-slider {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .tab-slider {
      display: none; } }

.tabs {
  margin-bottom: 60px; }
  .tabs__tab {
    text-align: center;
    display: block;
    float: left;
    width: 20%;
    padding: 30px 0 30px 50px;
    cursor: pointer;
    position: relative;
    font-size: 11px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .tabs__tab_color_1 {
      z-index: 5;
      padding-left: 30px;
      color: #1a6b82; }
    .tabs__tab_color_2 {
      z-index: 4;
      color: #7c2547; }
    .tabs__tab_color_3 {
      z-index: 3;
      color: #495a21; }
    .tabs__tab_color_4 {
      z-index: 2;
      color: #561e6d; }
    .tabs__tab_color_5 {
      z-index: 1;
      color: #1a6b82; }
    .tabs__tab_active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      z-index: 6;
      padding-left: 0; }
  .tabs__bg, .tabs__bg:after {
    position: absolute;
    top: 0;
    left: auto;
    right: -10px;
    width: 100%;
    height: 50%;
    z-index: -1;
    -webkit-transform: skew(25deg);
            transform: skew(25deg);
    /* border-top: 38px solid transparent;
            border-bottom: 39px solid transparent;
            border-left-width: $triangle_border_size;
            border-left-style: solid; */ }
    .tabs__tab_active .tabs__bg, .tabs__tab_active .tabs__bg:after {
      -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 3px;
              box-shadow: rgba(0, 0, 0, 0.12) 0 3px 3px;
      right: 2px; }
    .tabs__tab_color_1 .tabs__bg, .tabs__tab_color_1 .tabs__bg:after {
      background-color: #d7f0f7; }
    .tabs__tab_color_2 .tabs__bg, .tabs__tab_color_2 .tabs__bg:after {
      background-color: #f5dee7; }
    .tabs__tab_color_3 .tabs__bg, .tabs__tab_color_3 .tabs__bg:after {
      background-color: #dee9c4; }
    .tabs__tab_color_4 .tabs__bg, .tabs__tab_color_4 .tabs__bg:after {
      background-color: #e6ccf1; }
    .tabs__tab_color_5 .tabs__bg, .tabs__tab_color_5 .tabs__bg:after {
      background-color: #d7f0f7; }
  .tabs__bg:after {
    content: ' ';
    top: 102%;
    -webkit-transform: skew(-25deg);
    transform: skew(-45deg);
    position: absolute;
    left: -19px;
    height: 100%; }

.tab-slide {
  font-size: 18px; }

.news-slider {
  position: relative;
  margin-top: 60px;
  margin-bottom: 120px;
  min-height: 310px; }
  @media (max-width: 768px) {
    .news-slider {
      display: none; } }
  .news-slider__prev, .news-slider__next {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    z-index: 6;
    cursor: pointer; }
  .news-slider__prev {
    left: -60px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .news-slider__next {
    right: -60px; }
  .news-slider__arrow, .news-slider__arrow:after {
    width: 50px;
    height: 1px;
    background-color: #7a7b7d;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 0; }
  .news-slider__arrow:after {
    display: block;
    content: ' ';
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 25px;
    left: 25px; }
  .news-slider__img {
    width: 100%;
    margin-bottom: 30px; }
  .news-slider__date {
    font-size: 16px;
    color: #f79628;
    margin-bottom: 15px; }
  .news-slider__copy {
    font-size: 20px;
    line-height: 1; }
  .news-slider__link {
    color: #7a7b7d;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline; }

.news-slide {
  margin: 0 15px; }

.links {
  margin-bottom: 100px; }
  .links__link {
    padding: 20px 30px;
    display: block;
    margin-bottom: 30px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    position: relative; }
    @media (max-width: 768px) {
      .links__link {
        font-size: 10px;
        margin-bottom: 15px;
        padding: 10px; } }
    .links__link_color_1 {
      background-color: #d7f0f7;
      color: #1a6b82; }
    .links__link_color_2 {
      background-color: #dee9c4;
      color: #495a21; }
    .links__link_color_3 {
      background-color: #f5dee7;
      color: #7c2547; }
    .links__link_color_4 {
      background-color: #e6ccf1;
      color: #561e6d; }
  .links__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.4em; }

.footer {
  display: block;
  width: 100%;
  border-top: 1px solid #7a7b7d;
  padding: 60px 15px;
  position: relative; }
  @media (max-width: 768px) {
    .footer {
      display: none; } }
  .footer__icon {
    display: inline-block; }
  .footer__logo {
    text-align: center; }
    .footer__logo-location {
      position: relative;
      top: 0;
      font-style: italic;
      font-size: 18px;
      color: #7a7b7d; }
  .footer__copyright {
    margin-top: 20px;
    color: #7a7b7d;
    text-align: center; }

.arma-logo {
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 0px; }

.bottom {
  position: relative;
  bottom: 0; }

.contact {
  padding-right: 90px; }
  @media (max-width: 1820px) {
    .contact {
      padding-right: 40px; } }
  .contact.contact_card {
    background-color: #f79628;
    color: #ffffff;
    width: 403px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px;
            box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px;
    left: 17%;
    z-index: 1;
    float: left;
    top: 40px; }
    .contact.contact_card * {
      font-family: "SinkinSansLt", Helvetica, Arial, sans-serif; }
  .contact__item {
    padding-left: 25px;
    color: #7a7b7d;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px; }
    .contact_card .contact__item {
      padding-left: 50px;
      min-height: 30px;
      padding-top: 10px; }
  .contact__title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px; }
    .contact_card .contact__title {
      font-size: 24px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      margin: 8px 0 10px 0;
      font-weight: bold; }
  .contact__copy {
    color: #ffffff;
    font-size: 14px; }
  .contact__icon {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0; }
  .contact_card .contact__link {
    color: #ffffff; }

.hero {
  position: relative;
  text-align: center;
  min-height: 410px;
  overflow: hidden; }
  @media (max-width: 768px) {
    .hero {
      min-height: 24vh;
      margin-bottom: 20px; } }
  .about-us .hero {
    min-height: 66vh; }
    @media (max-width: 1820px) {
      .about-us .hero {
        min-height: 77vh; } }
  .hero__img {
    min-height: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 768px) {
      .hero__img {
        min-height: 0;
        width: 100%; } }
    .about-us .hero__img {
      min-height: 66vh; }
      @media (max-width: 1820px) {
        .about-us .hero__img {
          min-height: 77vh; } }
  .hero__title {
    background-color: #f79628;
    color: #fff;
    padding: 30px 15px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    margin: 0;
    position: absolute;
    bottom: 0; }
    @media (max-width: 768px) {
      .hero__title {
        font-size: 15px;
        padding: 10px 15px; } }

.breadcrumbs {
  display: block;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .breadcrumbs {
      display: none; } }
  .breadcrumbs__list-item {
    display: inline-block; }
  .breadcrumbs__link {
    color: #7a7b7d;
    font-size: 16px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    padding: 15px;
    display: inline-block;
    font-weight: bold; }
    .breadcrumbs__link_start {
      padding-left: 0; }
    .breadcrumbs__link:hover {
      color: #f79628; }
  .breadcrumbs__icon {
    color: #7a7b7d;
    font-size: 11px; }

.spec {
  margin-bottom: 60px; }
  .spec__title {
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #494949;
    margin-bottom: 30px; }
  .spec__list-item {
    font-size: 14px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    padding-left: 40px;
    position: relative;
    line-height: 2; }
    @media (max-width: 768px) {
      .spec__list-item {
        line-height: 1.5; } }
    .spec__list-item:before {
      content: ' ';
      position: absolute;
      top: 8px;
      left: 20px; }
      @media (max-width: 768px) {
        .spec__list-item:before {
          top: 5px; } }

.sidebar {
  margin-bottom: 40px;
  padding-left: 30px;
  display: block; }
  @media (max-width: 768px) {
    .sidebar {
      display: none; } }
  .sidebar__title, .sidebar__menu-link {
    color: #494949;
    font-weight: bold;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif; }
  .sidebar__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px; }
  .sidebar__menu-link {
    position: relative;
    font-size: 14px;
    padding: 15px 60px 15px 30px;
    border-top: 1px solid #e1e1e2;
    display: inline-block;
    width: 100%; }
    .sidebar__menu-link_end {
      border-bottom: 1px solid #e1e1e2; }
    .sidebar__menu-link:hover {
      color: #f79628; }
  .sidebar__menu-icon {
    color: #e1e1e2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px; }
    .sidebar__menu-link:hover .sidebar__menu-icon {
      color: #f79628; }
  .sidebar__content.side-panel__content {
    -webkit-box-shadow: none;
            box-shadow: none;
    float: none;
    width: auto;
    padding: 30px 0; }
    .sidebar__content.side-panel__content .side-panel__img {
      height: auto;
      width: 100%; }
    .sidebar__content.side-panel__content .side-panel__caption {
      font-size: 16px;
      font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
      color: #494949; }

.reference {
  margin-top: 60px;
  margin-bottom: 60px; }
  .reference__p {
    color: #494949;
    line-height: 2.2; }
  .reference__link {
    color: #494949;
    text-decoration: underline; }

.copy {
  margin: 60px 0; }
  .copy__p {
    line-height: 2.2;
    color: #494949; }
  .copy__img {
    float: left;
    padding: 0 30px 30px;
    display: inline; }
    @media (max-width: 768px) {
      .copy__img {
        display: none; } }
    .copy__img_right {
      float: right; }

.crew {
  min-width: 100%; }
  .crew__item {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative; }
  .crew__title, .crew__subtitle {
    font-size: 16px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    margin-bottom: 18px; }
  .crew__title {
    font-weight: bold; }
  .crew__subtitle {
    font-style: italic; }
  .crew__img {
    width: 100%;
    margin-top: 30px; }

.form {
  width: 500px;
  min-height: 750px;
  float: right;
  position: relative;
  right: 120px;
  padding: 60px 60px 100px 120px;
  z-index: 0; }
  .form * {
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif; }
  .form__text {
    font-size: 16px; }
  .form__input, .form__textarea {
    margin: 5px 0;
    height: 40px;
    padding: 5px;
    width: 100%;
    border: 1px solid #7a7b7d;
    border-radius: 9px; }
  .form__textarea {
    height: auto; }

.boxes-mobile {
  margin-bottom: 60px;
  display: none; }
  @media (max-width: 768px) {
    .boxes-mobile {
      display: block; } }
  .boxes-mobile__box {
    margin-bottom: 10px;
    padding: 40px 15px 55px;
    font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 170px; }
  .boxes-mobile__box_color1 {
    background-color: #d7f0f7; }
  .boxes-mobile__box_color2 {
    background-color: #f5dee7; }
  .boxes-mobile__box_color3 {
    background-color: #dee9c4; }
  .boxes-mobile__box_color4 {
    background-color: #e6ccf1; }
  .boxes-mobile__title {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    line-height: 1.6;
    top: 0px;
    left: 25px;
    margin-top: 0; }
  .boxes-mobile__box_color1 .boxes-mobile__title, .boxes-mobile__box_color1 .boxes-mobile__link {
    color: #1a6b82; }
  .boxes-mobile__box_color2 .boxes-mobile__title, .boxes-mobile__box_color2 .boxes-mobile__link {
    color: #7c2547; }
  .boxes-mobile__box_color3 .boxes-mobile__title, .boxes-mobile__box_color3 .boxes-mobile__link {
    color: #495a21; }
  .boxes-mobile__box_color4 .boxes-mobile__title, .boxes-mobile__box_color4 .boxes-mobile__link {
    color: #561e6d; }
  .boxes-mobile__link {
    left: 40px;
    position: absolute;
    font-size: 10px;
    padding: 8px 5px;
    background-color: #fff;
    width: 100px;
    display: block;
    bottom: 15px; }
  .boxes-mobile__icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px; }
  .boxes-mobile__img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    z-index: 0; }
    .boxes-mobile__img.boxes-mobile__img_bottom_0 {
      top: auto;
      -webkit-transform: none;
              transform: none;
      bottom: 0; }
    .boxes-mobile__img.boxes-mobile__img_right_0 {
      right: 0; }

.news-mobile {
  display: none;
  font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
  color: #494949; }
  @media (max-width: 768px) {
    .news-mobile {
      display: block; } }
  .news-mobile_wide {
    margin-right: -30px;
    margin-left: -30px; }
  .news-mobile_middle {
    margin-right: -15px;
    margin-left: -15px; }
  .news-mobile__title {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #7a7b7d;
    margin-bottom: 30px; }
  .news-mobile__box {
    margin: 0 15px 30px;
    border-bottom: 1px solid #7a7b7d;
    display: block;
    position: relative;
    padding-bottom: 30px; }
    .news-mobile__box_seperator {
      padding-top: 30px;
      border-top: 1px solid #7a7b7d; }
  .news-mobile__img-wr {
    float: left;
    margin-right: 15px;
    width: 115px;
    height: 115px; }
  .news-mobile__img {
    max-width: 100%;
    max-height: 100%; }
  .news-mobile__box-title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 145px;
    color: #494949;
    padding-bottom: 30px; }
    .detail .news-mobile__box-title {
      padding-bottom: 0; }
  .news-mobile__icon {
    position: absolute;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5px;
    color: #494949;
    padding-bottom: 30px; }
    .detail .news-mobile__icon {
      padding-bottom: 0; }

.footer-mobile {
  display: none;
  height: 50px;
  position: relative;
  bottom: 0;
  z-index: 9;
  background-color: #fff; }
  @media (max-width: 768px) {
    .footer-mobile {
      display: block; } }
  .footer-mobile.sticky {
    width: 100%;
    position: fixed; }

@media (max-width: 768px) {
  .navigation.navigation-mobile_footer {
    position: absolute;
    top: calc( (-100vh) + (5px));
    width: 100%;
    left: -100vw;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    z-index: 8; }
    .navigation.navigation-mobile_footer .navigation__list {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .navigation.navigation-mobile_footer .navigation__link {
      width: 100vw;
      text-align: center;
      font-size: 18px;
      color: #494949;
      text-transform: initial;
      font-weight: bold;
      min-height: 35px;
      border: none;
      text-align: left;
      padding-left: 100px;
      margin-bottom: 20px; }
      .navigation.navigation-mobile_footer .navigation__link::first-letter {
        text-transform: uppercase; }
  .navigation-mobile__icon {
    display: block;
    position: absolute;
    left: 40px;
    top: 0; } }

.price-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  visibility: visible;
  opacity: 1;
  position: fixed;
  bottom: -70px;
  width: 100%;
  z-index: 10;
  -webkit-transition: .3s ease, opacity .3s .3s ease;
  transition: .3s ease, opacity .3s .3s ease; }
  .price-box__inner {
    padding: 25px 10px;
    background-color: #fff7c9;
    color: #585121;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 80px;
    width: 100%;
    display: none;
    font-size: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
            box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    border-radius: 4px; }
    @media (max-width: 768px) {
      .price-box__inner {
        display: block; } }
  .price-box__icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px; }
  .price-box_hidden {
    -webkit-transition: .3s ease, opacity .3s .3s ease;
    transition: .3s ease, opacity .3s .3s ease;
    visibility: hidden;
    opacity: 0;
    position: absolute; }

.relative {
  position: relative; }

.seperator {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .seperator {
      display: none; } }
  .seperator_full {
    width: 100%; }
  .seperator_space {
    border: none;
    margin: 30px auto; }

.p_big {
  font-family: "SinkinSansLt", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  @media (max-width: 768px) {
    .p_big {
      line-height: 1.6; } }

.pb60 {
  padding-bottom: 60px; }

.form, .footer-mobile {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px; }

.no-scroll {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh; }

.no-scroll-f-menu {
  overflow: hidden;
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100vw;
  height: 100vh; }

/*# sourceMappingURL=styles.css.map */
