.btn {
    &-scrolla {
        position: absolute;
        bottom: 12%;
        right: 31%;
        z-index: $zindex_side_panel - 1;
        cursor: pointer;
        &.scrolla-mobile {
            display: none;
        }
        @include breakpoint(smalls) {
            display: none;
            &.scrolla-mobile {
                display: block;
                bottom: 25%;
                right: 18%;
            }
        }
    }
    &_submit {
        background: $brand_color;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 15px 40px;
        font-family: $font_head;
        font-size: 16px;
        position: relative;
        float: right;
        transition: background .3s;
        &:hover {
            background-color: $brand_dark_gray;
        }
    }
    &_hamburger {
        position: relative;
        left: 0;
        width: 35px;
        height: 23px;
        padding: 3px;
        display: none;
        @include breakpoint(smalls) {
            display: block;
        }
        &__line {
            width: 20px;
            height: $hamburger_lines;
            background-color: #000000;
            display: block;
            margin-bottom: $hamburger_lines;
            position: relative;
            left: ($hamburger_lines + 4);
            border-radius: 25%;
            .open & {
                transition: .2s ease;
                position: absolute;
                top: 50%;
                transform-origin: center center;
                opacity: 0;
            }
            &_start {
                left: 0;
                .open & {
                    transform: rotate(45deg) translateY(-100%);
                    opacity: 1;
                }
            }
            &_end {
                left: ($hamburger_lines + 1);
                margin-bottom: 0;
                .open & {
                    transform: rotate(-45deg) translateY(-100%);
                    opacity: 1;
                }
            }
        }
        &__text {
            position: absolute;
            left: 40px;
            top: 2px;
            color: $brand_dark_gray;
            font-size: 14px;
        }
        &_contact{
            top: 15px;
            left: 10px;
        }
    }
    &_up {
        position: absolute;
        color: $brand_dark_gray;
        right: 20px;
        top: 15px;
        font-size: 9px;
        &__icon {
            text-align: center;
            .fa{
                font-size: 9px;
            }
        }
    }
}