.form{
    width:500px;
    min-height: 750px;
    @extend %standart_box_shadow;
    float: right;
    position: relative;
    right: 120px;
    padding: 60px 60px 100px 120px;
    z-index: 0;
    *{
        font-family: $font_head;
    }
    &__text{
        font-size: 16px;
    }
    &__input{
        margin: 5px 0;
        height: 40px;
        padding: 5px;
        width: 100%;
        border:1px solid $brand_gray;
        border-radius: 9px;
    }
    &__textarea{
        @extend .form__input;
        height: auto;
    }
}