.navigation {
    float: left;
    width: 50%;
    @include breakpoint(larges) {
        width: auto;
    }
    @include breakpoint(smalls) {
        display: none;
    }
    &__list {
        padding-left: 0;
    }
    &__list-item {
        display: inline;
    }
    &__link {
        @include breakpoint(huges) {
            padding: ($pad_size_nav_link - 4) 5px;
            font-size: $font_nav_size - 2;
        }
        .navigation_footer & {
            @include breakpoint(huges) {
                padding: ($pad_size_nav_link - 4) 5px;
            }
            padding: ($pad_size_nav_link - 7) 10px;
        }
        color: $brand_gray;
        text-transform: uppercase;
        padding: $pad_size_nav_link 10px;
        font-family: $font_head;
        font-size: $font_nav_size;
        display: inline-block;
        position: relative;
        transition: color ease .3s;
        &:after {
            content: ' ';
            position: absolute;
            bottom: $pad_size_nav_link - 10;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 1px;
            text-decoration: none;
            transition: width ease .3s;
            background-color: $brand_gray;
            .navigation_mobile & {
                bottom: -1px;
                background-color: $brand_color;
            }
        }
        &:hover {
            color: $brand_color;
            text-decoration: none;
            &:after {
                transition: width ease .3s;
                width: 80%;
                .navigation_mobile & {
                    width: 100%;
                }
            }
        }
        .navigation_mobile & {
            display: block;
            padding: 10px 15px 10px 30px;
            border-bottom: 1px solid lighten($brand_gray, 30%);
        }
    }
    &_footer {
        text-align: center;
    }
    &.navigation_mobile {
        display: none;
        position: absolute;
        width: $mobile_menu;
        left: - $mobile_menu;
        transition: .3s ease;
        background-color: #fff;
        z-index: 9;
        top: $header_mobile_height;
        height: 99vh;
        box-shadow: rgba(0, 0, 0, .7) 0 5px 10px;
        &.open {
            left: 0;
        }
        @include breakpoint(smalls) {
            display: block;
        }
    }
}