.slider-wrapper.theme-default {
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    .nivoSlider {
        box-shadow: unset;
        @include breakpoint(huges) {
            height: $header_content - 4.9vh;
        }
        height: $header_content;
        @include breakpoint(mediums) {
            height: 69.7vh;
        }
        @include breakpoint(smalls) {
            height: $header_mobile_content;
        }
    }
    .nivo-caption {
        font-size: $font_size_slide_caption;
        letter-spacing: 3px;
        line-height: $font_size_slide_caption;
        color: rgb(247, 247, 247);
        font-family: $font_copy;
        text-shadow: 0px 3px 2px rgba(1, 1, 1, 0.59);
        background-color: rgba($brand_latte, .7);
        padding: 40px 30px 40px 370px;
        width: 55%;
        bottom: 30px;
        @include breakpoint(huges) {
            padding: 40px 30px 40px 70px;
            font-size: $font_size_slide_caption / 1.3;
        }
        @include breakpoint(smalls) {
            z-index: 6;
            width: auto;
            max-width: 58.666%;
            padding: 10px;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: normal;
            left: 30px;
            background-color: $brand_coffe;
            bottom: 50px;
        }
    }
    & .nivo-controlNav{
        @include breakpoint(smalls) {
            position: relative;
            bottom: 60px;
            z-index: 7;

        }        
    }
    & .nivo-controlNav a {
        &,
        &.active {
            background: none;
        }
    }
    & .nivo-controlNav a.nivo-control {
        background: $brand_gray;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 8px;
        @include breakpoint(smalls) {
            width: 15px;
            height: 15px;
        }
        &.active {
            background: lighten($brand_gray, 30%);
        }
    }
}