@font-face {
    font-family: 'RubikLt';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'), url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SinkinSansLt';
    src: url('../fonts/SinkinSans-300Light.woff2') format('woff2'), url('../fonts/SinkinSans-300Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}