// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arma-logo-dark-name: 'arma-logo-dark';
$arma-logo-dark-x: 37px;
$arma-logo-dark-y: 120px;
$arma-logo-dark-offset-x: -37px;
$arma-logo-dark-offset-y: -120px;
$arma-logo-dark-width: 100px;
$arma-logo-dark-height: 44px;
$arma-logo-dark-total-width: 197px;
$arma-logo-dark-total-height: 324px;
$arma-logo-dark-image: '../images/sprite.png';
$arma-logo-dark: (37px, 120px, -37px, -120px, 100px, 44px, 197px, 324px, '../images/sprite.png', 'arma-logo-dark', );
$cell-phone-name: 'cell-phone';
$cell-phone-x: 167px;
$cell-phone-y: 23px;
$cell-phone-offset-x: -167px;
$cell-phone-offset-y: -23px;
$cell-phone-width: 10px;
$cell-phone-height: 16px;
$cell-phone-total-width: 197px;
$cell-phone-total-height: 324px;
$cell-phone-image: '../images/sprite.png';
$cell-phone: (167px, 23px, -167px, -23px, 10px, 16px, 197px, 324px, '../images/sprite.png', 'cell-phone', );
$clock-name: 'clock';
$clock-x: 187px;
$clock-y: 23px;
$clock-offset-x: -187px;
$clock-offset-y: -23px;
$clock-width: 10px;
$clock-height: 10px;
$clock-total-width: 197px;
$clock-total-height: 324px;
$clock-image: '../images/sprite.png';
$clock: (187px, 23px, -187px, -23px, 10px, 10px, 197px, 324px, '../images/sprite.png', 'clock', );
$contact-location-name: 'contact-location';
$contact-location-x: 37px;
$contact-location-y: 237px;
$contact-location-offset-x: -37px;
$contact-location-offset-y: -237px;
$contact-location-width: 25px;
$contact-location-height: 36px;
$contact-location-total-width: 197px;
$contact-location-total-height: 324px;
$contact-location-image: '../images/sprite.png';
$contact-location: (37px, 237px, -37px, -237px, 25px, 36px, 197px, 324px, '../images/sprite.png', 'contact-location', );
$contact-mail-icon-name: 'contact-mail-icon';
$contact-mail-icon-x: 62px;
$contact-mail-icon-y: 237px;
$contact-mail-icon-offset-x: -62px;
$contact-mail-icon-offset-y: -237px;
$contact-mail-icon-width: 30px;
$contact-mail-icon-height: 30px;
$contact-mail-icon-total-width: 197px;
$contact-mail-icon-total-height: 324px;
$contact-mail-icon-image: '../images/sprite.png';
$contact-mail-icon: (62px, 237px, -62px, -237px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'contact-mail-icon', );
$contact-phone-icon-name: 'contact-phone-icon';
$contact-phone-icon-x: 67px;
$contact-phone-icon-y: 204px;
$contact-phone-icon-offset-x: -67px;
$contact-phone-icon-offset-y: -204px;
$contact-phone-icon-width: 30px;
$contact-phone-icon-height: 30px;
$contact-phone-icon-total-width: 197px;
$contact-phone-icon-total-height: 324px;
$contact-phone-icon-image: '../images/sprite.png';
$contact-phone-icon: (67px, 204px, -67px, -204px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'contact-phone-icon', );
$contact-skype-icon-name: 'contact-skype-icon';
$contact-skype-icon-x: 67px;
$contact-skype-icon-y: 273px;
$contact-skype-icon-offset-x: -67px;
$contact-skype-icon-offset-y: -273px;
$contact-skype-icon-width: 30px;
$contact-skype-icon-height: 30px;
$contact-skype-icon-total-width: 197px;
$contact-skype-icon-total-height: 324px;
$contact-skype-icon-image: '../images/sprite.png';
$contact-skype-icon: (67px, 273px, -67px, -273px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'contact-skype-icon', );
$contact-viber-icon-name: 'contact-viber-icon';
$contact-viber-icon-x: 37px;
$contact-viber-icon-y: 204px;
$contact-viber-icon-offset-x: -37px;
$contact-viber-icon-offset-y: -204px;
$contact-viber-icon-width: 30px;
$contact-viber-icon-height: 33px;
$contact-viber-icon-total-width: 197px;
$contact-viber-icon-total-height: 324px;
$contact-viber-icon-image: '../images/sprite.png';
$contact-viber-icon: (37px, 204px, -37px, -204px, 30px, 33px, 197px, 324px, '../images/sprite.png', 'contact-viber-icon', );
$contact-watsapp-icon-name: 'contact-watsapp-icon';
$contact-watsapp-icon-x: 97px;
$contact-watsapp-icon-y: 204px;
$contact-watsapp-icon-offset-x: -97px;
$contact-watsapp-icon-offset-y: -204px;
$contact-watsapp-icon-width: 30px;
$contact-watsapp-icon-height: 30px;
$contact-watsapp-icon-total-width: 197px;
$contact-watsapp-icon-total-height: 324px;
$contact-watsapp-icon-image: '../images/sprite.png';
$contact-watsapp-icon: (97px, 204px, -97px, -204px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'contact-watsapp-icon', );
$facebook-name: 'facebook';
$facebook-x: 77px;
$facebook-y: 164px;
$facebook-offset-x: -77px;
$facebook-offset-y: -164px;
$facebook-width: 40px;
$facebook-height: 40px;
$facebook-total-width: 197px;
$facebook-total-height: 324px;
$facebook-image: '../images/sprite.png';
$facebook: (77px, 164px, -77px, -164px, 40px, 40px, 197px, 324px, '../images/sprite.png', 'facebook', );
$fr-flag-name: 'fr_flag';
$fr-flag-x: 97px;
$fr-flag-y: 273px;
$fr-flag-offset-x: -97px;
$fr-flag-offset-y: -273px;
$fr-flag-width: 30px;
$fr-flag-height: 30px;
$fr-flag-total-width: 197px;
$fr-flag-total-height: 324px;
$fr-flag-image: '../images/sprite.png';
$fr-flag: (97px, 273px, -97px, -273px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'fr_flag', );
$location-name: 'location';
$location-x: 177px;
$location-y: 23px;
$location-offset-x: -177px;
$location-offset-y: -23px;
$location-width: 10px;
$location-height: 14px;
$location-total-width: 197px;
$location-total-height: 324px;
$location-image: '../images/sprite.png';
$location: (177px, 23px, -177px, -23px, 10px, 14px, 197px, 324px, '../images/sprite.png', 'location', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 139px;
$logo-height: 120px;
$logo-total-width: 197px;
$logo-total-height: 324px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 139px, 120px, 197px, 324px, '../images/sprite.png', 'logo', );
$mail-name: 'mail';
$mail-x: 167px;
$mail-y: 0px;
$mail-offset-x: -167px;
$mail-offset-y: 0px;
$mail-width: 30px;
$mail-height: 23px;
$mail-total-width: 197px;
$mail-total-height: 324px;
$mail-image: '../images/sprite.png';
$mail: (167px, 0px, -167px, 0px, 30px, 23px, 197px, 324px, '../images/sprite.png', 'mail', );
$phone-name: 'phone';
$phone-x: 139px;
$phone-y: 0px;
$phone-offset-x: -139px;
$phone-offset-y: 0px;
$phone-width: 28px;
$phone-height: 28px;
$phone-total-width: 197px;
$phone-total-height: 324px;
$phone-image: '../images/sprite.png';
$phone: (139px, 0px, -139px, 0px, 28px, 28px, 197px, 324px, '../images/sprite.png', 'phone', );
$sa-flag-name: 'sa_flag';
$sa-flag-x: 37px;
$sa-flag-y: 273px;
$sa-flag-offset-x: -37px;
$sa-flag-offset-y: -273px;
$sa-flag-width: 30px;
$sa-flag-height: 30px;
$sa-flag-total-width: 197px;
$sa-flag-total-height: 324px;
$sa-flag-image: '../images/sprite.png';
$sa-flag: (37px, 273px, -37px, -273px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'sa_flag', );
$scrolla-name: 'scrolla';
$scrolla-x: 0px;
$scrolla-y: 120px;
$scrolla-offset-x: 0px;
$scrolla-offset-y: -120px;
$scrolla-width: 37px;
$scrolla-height: 204px;
$scrolla-total-width: 197px;
$scrolla-total-height: 324px;
$scrolla-image: '../images/sprite.png';
$scrolla: (0px, 120px, 0px, -120px, 37px, 204px, 197px, 324px, '../images/sprite.png', 'scrolla', );
$spec-list-icon-name: 'spec-list-icon';
$spec-list-icon-x: 167px;
$spec-list-icon-y: 39px;
$spec-list-icon-offset-x: -167px;
$spec-list-icon-offset-y: -39px;
$spec-list-icon-width: 11px;
$spec-list-icon-height: 10px;
$spec-list-icon-total-width: 197px;
$spec-list-icon-total-height: 324px;
$spec-list-icon-image: '../images/sprite.png';
$spec-list-icon: (167px, 39px, -167px, -39px, 11px, 10px, 197px, 324px, '../images/sprite.png', 'spec-list-icon', );
$uk-flag-name: 'uk_flag';
$uk-flag-x: 92px;
$uk-flag-y: 237px;
$uk-flag-offset-x: -92px;
$uk-flag-offset-y: -237px;
$uk-flag-width: 30px;
$uk-flag-height: 30px;
$uk-flag-total-width: 197px;
$uk-flag-total-height: 324px;
$uk-flag-image: '../images/sprite.png';
$uk-flag: (92px, 237px, -92px, -237px, 30px, 30px, 197px, 324px, '../images/sprite.png', 'uk_flag', );
$whatsapp-name: 'whatsapp';
$whatsapp-x: 37px;
$whatsapp-y: 164px;
$whatsapp-offset-x: -37px;
$whatsapp-offset-y: -164px;
$whatsapp-width: 40px;
$whatsapp-height: 40px;
$whatsapp-total-width: 197px;
$whatsapp-total-height: 324px;
$whatsapp-image: '../images/sprite.png';
$whatsapp: (37px, 164px, -37px, -164px, 40px, 40px, 197px, 324px, '../images/sprite.png', 'whatsapp', );
$spritesheet-width: 197px;
$spritesheet-height: 324px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arma-logo-dark, $cell-phone, $clock, $contact-location, $contact-mail-icon, $contact-phone-icon, $contact-skype-icon, $contact-viber-icon, $contact-watsapp-icon, $facebook, $fr-flag, $location, $logo, $mail, $phone, $sa-flag, $scrolla, $spec-list-icon, $uk-flag, $whatsapp, );
$spritesheet: (197px, 324px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
