// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arma-logo-dark-name: 'arma-logo-dark';
$arma-logo-dark-x: 37px;
$arma-logo-dark-y: 120px;
$arma-logo-dark-offset-x: -37px;
$arma-logo-dark-offset-y: -120px;
$arma-logo-dark-width: 100px;
$arma-logo-dark-height: 44px;
$arma-logo-dark-total-width: 204px;
$arma-logo-dark-total-height: 324px;
$arma-logo-dark-image: '../images/sprite.png';
$arma-logo-dark: (37px, 120px, -37px, -120px, 100px, 44px, 204px, 324px, '../images/sprite.png', 'arma-logo-dark', );
$calendar-icon-name: 'calendar-icon';
$calendar-icon-x: 139px;
$calendar-icon-y: 0px;
$calendar-icon-offset-x: -139px;
$calendar-icon-offset-y: 0px;
$calendar-icon-width: 35px;
$calendar-icon-height: 36px;
$calendar-icon-total-width: 204px;
$calendar-icon-total-height: 324px;
$calendar-icon-image: '../images/sprite.png';
$calendar-icon: (139px, 0px, -139px, 0px, 35px, 36px, 204px, 324px, '../images/sprite.png', 'calendar-icon', );
$cell-phone-name: 'cell-phone';
$cell-phone-x: 194px;
$cell-phone-y: 81px;
$cell-phone-offset-x: -194px;
$cell-phone-offset-y: -81px;
$cell-phone-width: 10px;
$cell-phone-height: 16px;
$cell-phone-total-width: 204px;
$cell-phone-total-height: 324px;
$cell-phone-image: '../images/sprite.png';
$cell-phone: (194px, 81px, -194px, -81px, 10px, 16px, 204px, 324px, '../images/sprite.png', 'cell-phone', );
$clock-name: 'clock';
$clock-x: 185px;
$clock-y: 136px;
$clock-offset-x: -185px;
$clock-offset-y: -136px;
$clock-width: 10px;
$clock-height: 10px;
$clock-total-width: 204px;
$clock-total-height: 324px;
$clock-image: '../images/sprite.png';
$clock: (185px, 136px, -185px, -136px, 10px, 10px, 204px, 324px, '../images/sprite.png', 'clock', );
$contact-location-name: 'contact-location';
$contact-location-x: 139px;
$contact-location-y: 255px;
$contact-location-offset-x: -139px;
$contact-location-offset-y: -255px;
$contact-location-width: 25px;
$contact-location-height: 36px;
$contact-location-total-width: 204px;
$contact-location-total-height: 324px;
$contact-location-image: '../images/sprite.png';
$contact-location: (139px, 255px, -139px, -255px, 25px, 36px, 204px, 324px, '../images/sprite.png', 'contact-location', );
$contact-mail-icon-name: 'contact-mail-icon';
$contact-mail-icon-x: 139px;
$contact-mail-icon-y: 195px;
$contact-mail-icon-offset-x: -139px;
$contact-mail-icon-offset-y: -195px;
$contact-mail-icon-width: 30px;
$contact-mail-icon-height: 30px;
$contact-mail-icon-total-width: 204px;
$contact-mail-icon-total-height: 324px;
$contact-mail-icon-image: '../images/sprite.png';
$contact-mail-icon: (139px, 195px, -139px, -195px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'contact-mail-icon', );
$contact-phone-icon-name: 'contact-phone-icon';
$contact-phone-icon-x: 174px;
$contact-phone-icon-y: 0px;
$contact-phone-icon-offset-x: -174px;
$contact-phone-icon-offset-y: 0px;
$contact-phone-icon-width: 30px;
$contact-phone-icon-height: 30px;
$contact-phone-icon-total-width: 204px;
$contact-phone-icon-total-height: 324px;
$contact-phone-icon-image: '../images/sprite.png';
$contact-phone-icon: (174px, 0px, -174px, 0px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'contact-phone-icon', );
$contact-skype-icon-name: 'contact-skype-icon';
$contact-skype-icon-x: 139px;
$contact-skype-icon-y: 291px;
$contact-skype-icon-offset-x: -139px;
$contact-skype-icon-offset-y: -291px;
$contact-skype-icon-width: 30px;
$contact-skype-icon-height: 30px;
$contact-skype-icon-total-width: 204px;
$contact-skype-icon-total-height: 324px;
$contact-skype-icon-image: '../images/sprite.png';
$contact-skype-icon: (139px, 291px, -139px, -291px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'contact-skype-icon', );
$contact-viber-icon-name: 'contact-viber-icon';
$contact-viber-icon-x: 139px;
$contact-viber-icon-y: 72px;
$contact-viber-icon-offset-x: -139px;
$contact-viber-icon-offset-y: -72px;
$contact-viber-icon-width: 30px;
$contact-viber-icon-height: 33px;
$contact-viber-icon-total-width: 204px;
$contact-viber-icon-total-height: 324px;
$contact-viber-icon-image: '../images/sprite.png';
$contact-viber-icon: (139px, 72px, -139px, -72px, 30px, 33px, 204px, 324px, '../images/sprite.png', 'contact-viber-icon', );
$contact-watsapp-icon-name: 'contact-watsapp-icon';
$contact-watsapp-icon-x: 139px;
$contact-watsapp-icon-y: 135px;
$contact-watsapp-icon-offset-x: -139px;
$contact-watsapp-icon-offset-y: -135px;
$contact-watsapp-icon-width: 30px;
$contact-watsapp-icon-height: 30px;
$contact-watsapp-icon-total-width: 204px;
$contact-watsapp-icon-total-height: 324px;
$contact-watsapp-icon-image: '../images/sprite.png';
$contact-watsapp-icon: (139px, 135px, -139px, -135px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'contact-watsapp-icon', );
$facebook-mobile-name: 'facebook-mobile';
$facebook-mobile-x: 174px;
$facebook-mobile-y: 81px;
$facebook-mobile-offset-x: -174px;
$facebook-mobile-offset-y: -81px;
$facebook-mobile-width: 20px;
$facebook-mobile-height: 21px;
$facebook-mobile-total-width: 204px;
$facebook-mobile-total-height: 324px;
$facebook-mobile-image: '../images/sprite.png';
$facebook-mobile: (174px, 81px, -174px, -81px, 20px, 21px, 204px, 324px, '../images/sprite.png', 'facebook-mobile', );
$facebook-name: 'facebook';
$facebook-x: 96px;
$facebook-y: 164px;
$facebook-offset-x: -96px;
$facebook-offset-y: -164px;
$facebook-width: 40px;
$facebook-height: 40px;
$facebook-total-width: 204px;
$facebook-total-height: 324px;
$facebook-image: '../images/sprite.png';
$facebook: (96px, 164px, -96px, -164px, 40px, 40px, 204px, 324px, '../images/sprite.png', 'facebook', );
$find-on-map-icon-name: 'find-on-map-icon';
$find-on-map-icon-x: 37px;
$find-on-map-icon-y: 266px;
$find-on-map-icon-offset-x: -37px;
$find-on-map-icon-offset-y: -266px;
$find-on-map-icon-width: 35px;
$find-on-map-icon-height: 36px;
$find-on-map-icon-total-width: 204px;
$find-on-map-icon-total-height: 324px;
$find-on-map-icon-image: '../images/sprite.png';
$find-on-map-icon: (37px, 266px, -37px, -266px, 35px, 36px, 204px, 324px, '../images/sprite.png', 'find-on-map-icon', );
$fr-flag-name: 'fr_flag';
$fr-flag-x: 139px;
$fr-flag-y: 105px;
$fr-flag-offset-x: -139px;
$fr-flag-offset-y: -105px;
$fr-flag-width: 30px;
$fr-flag-height: 30px;
$fr-flag-total-width: 204px;
$fr-flag-total-height: 324px;
$fr-flag-image: '../images/sprite.png';
$fr-flag: (139px, 105px, -139px, -105px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'fr_flag', );
$get-price-icon-name: 'get-price-icon';
$get-price-icon-x: 72px;
$get-price-icon-y: 266px;
$get-price-icon-offset-x: -72px;
$get-price-icon-offset-y: -266px;
$get-price-icon-width: 35px;
$get-price-icon-height: 36px;
$get-price-icon-total-width: 204px;
$get-price-icon-total-height: 324px;
$get-price-icon-image: '../images/sprite.png';
$get-price-icon: (72px, 266px, -72px, -266px, 35px, 36px, 204px, 324px, '../images/sprite.png', 'get-price-icon', );
$information-icon-name: 'information-icon';
$information-icon-x: 56px;
$information-icon-y: 204px;
$information-icon-offset-x: -56px;
$information-icon-offset-y: -204px;
$information-icon-width: 36px;
$information-icon-height: 36px;
$information-icon-total-width: 204px;
$information-icon-total-height: 324px;
$information-icon-image: '../images/sprite.png';
$information-icon: (56px, 204px, -56px, -204px, 36px, 36px, 204px, 324px, '../images/sprite.png', 'information-icon', );
$instant-call-icon-name: 'instant-call-icon';
$instant-call-icon-x: 92px;
$instant-call-icon-y: 204px;
$instant-call-icon-offset-x: -92px;
$instant-call-icon-offset-y: -204px;
$instant-call-icon-width: 35px;
$instant-call-icon-height: 36px;
$instant-call-icon-total-width: 204px;
$instant-call-icon-total-height: 324px;
$instant-call-icon-image: '../images/sprite.png';
$instant-call-icon: (92px, 204px, -92px, -204px, 35px, 36px, 204px, 324px, '../images/sprite.png', 'instant-call-icon', );
$location-name: 'location';
$location-x: 194px;
$location-y: 102px;
$location-offset-x: -194px;
$location-offset-y: -102px;
$location-width: 10px;
$location-height: 14px;
$location-total-width: 204px;
$location-total-height: 324px;
$location-image: '../images/sprite.png';
$location: (194px, 102px, -194px, -102px, 10px, 14px, 204px, 324px, '../images/sprite.png', 'location', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 139px;
$logo-height: 120px;
$logo-total-width: 204px;
$logo-total-height: 324px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 139px, 120px, 204px, 324px, '../images/sprite.png', 'logo', );
$mail-mobile-name: 'mail-mobile';
$mail-mobile-x: 188px;
$mail-mobile-y: 122px;
$mail-mobile-offset-x: -188px;
$mail-mobile-offset-y: -122px;
$mail-mobile-width: 16px;
$mail-mobile-height: 12px;
$mail-mobile-total-width: 204px;
$mail-mobile-total-height: 324px;
$mail-mobile-image: '../images/sprite.png';
$mail-mobile: (188px, 122px, -188px, -122px, 16px, 12px, 204px, 324px, '../images/sprite.png', 'mail-mobile', );
$mail-name: 'mail';
$mail-x: 174px;
$mail-y: 58px;
$mail-offset-x: -174px;
$mail-offset-y: -58px;
$mail-width: 30px;
$mail-height: 23px;
$mail-total-width: 204px;
$mail-total-height: 324px;
$mail-image: '../images/sprite.png';
$mail: (174px, 58px, -174px, -58px, 30px, 23px, 204px, 324px, '../images/sprite.png', 'mail', );
$map-icon-name: 'map-icon';
$map-icon-x: 139px;
$map-icon-y: 36px;
$map-icon-offset-x: -139px;
$map-icon-offset-y: -36px;
$map-icon-width: 35px;
$map-icon-height: 36px;
$map-icon-total-width: 204px;
$map-icon-total-height: 324px;
$map-icon-image: '../images/sprite.png';
$map-icon: (139px, 36px, -139px, -36px, 35px, 36px, 204px, 324px, '../images/sprite.png', 'map-icon', );
$phone-mobile-name: 'phone-mobile';
$phone-mobile-x: 174px;
$phone-mobile-y: 122px;
$phone-mobile-offset-x: -174px;
$phone-mobile-offset-y: -122px;
$phone-mobile-width: 14px;
$phone-mobile-height: 14px;
$phone-mobile-total-width: 204px;
$phone-mobile-total-height: 324px;
$phone-mobile-image: '../images/sprite.png';
$phone-mobile: (174px, 122px, -174px, -122px, 14px, 14px, 204px, 324px, '../images/sprite.png', 'phone-mobile', );
$phone-name: 'phone';
$phone-x: 174px;
$phone-y: 30px;
$phone-offset-x: -174px;
$phone-offset-y: -30px;
$phone-width: 28px;
$phone-height: 28px;
$phone-total-width: 204px;
$phone-total-height: 324px;
$phone-image: '../images/sprite.png';
$phone: (174px, 30px, -174px, -30px, 28px, 28px, 204px, 324px, '../images/sprite.png', 'phone', );
$sa-flag-name: 'sa_flag';
$sa-flag-x: 107px;
$sa-flag-y: 266px;
$sa-flag-offset-x: -107px;
$sa-flag-offset-y: -266px;
$sa-flag-width: 30px;
$sa-flag-height: 30px;
$sa-flag-total-width: 204px;
$sa-flag-total-height: 324px;
$sa-flag-image: '../images/sprite.png';
$sa-flag: (107px, 266px, -107px, -266px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'sa_flag', );
$scrolla-mobile-name: 'scrolla-mobile';
$scrolla-mobile-x: 37px;
$scrolla-mobile-y: 164px;
$scrolla-mobile-offset-x: -37px;
$scrolla-mobile-offset-y: -164px;
$scrolla-mobile-width: 19px;
$scrolla-mobile-height: 102px;
$scrolla-mobile-total-width: 204px;
$scrolla-mobile-total-height: 324px;
$scrolla-mobile-image: '../images/sprite.png';
$scrolla-mobile: (37px, 164px, -37px, -164px, 19px, 102px, 204px, 324px, '../images/sprite.png', 'scrolla-mobile', );
$scrolla-name: 'scrolla';
$scrolla-x: 0px;
$scrolla-y: 120px;
$scrolla-offset-x: 0px;
$scrolla-offset-y: -120px;
$scrolla-width: 37px;
$scrolla-height: 204px;
$scrolla-total-width: 204px;
$scrolla-total-height: 324px;
$scrolla-image: '../images/sprite.png';
$scrolla: (0px, 120px, 0px, -120px, 37px, 204px, 204px, 324px, '../images/sprite.png', 'scrolla', );
$spec-list-icon-name: 'spec-list-icon';
$spec-list-icon-x: 174px;
$spec-list-icon-y: 136px;
$spec-list-icon-offset-x: -174px;
$spec-list-icon-offset-y: -136px;
$spec-list-icon-width: 11px;
$spec-list-icon-height: 10px;
$spec-list-icon-total-width: 204px;
$spec-list-icon-total-height: 324px;
$spec-list-icon-image: '../images/sprite.png';
$spec-list-icon: (174px, 136px, -174px, -136px, 11px, 10px, 204px, 324px, '../images/sprite.png', 'spec-list-icon', );
$tr-flag-name: 'tr_flag';
$tr-flag-x: 139px;
$tr-flag-y: 225px;
$tr-flag-offset-x: -139px;
$tr-flag-offset-y: -225px;
$tr-flag-width: 30px;
$tr-flag-height: 30px;
$tr-flag-total-width: 204px;
$tr-flag-total-height: 324px;
$tr-flag-image: '../images/sprite.png';
$tr-flag: (139px, 225px, -139px, -225px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'tr_flag', );
$uk-flag-name: 'uk_flag';
$uk-flag-x: 139px;
$uk-flag-y: 165px;
$uk-flag-offset-x: -139px;
$uk-flag-offset-y: -165px;
$uk-flag-width: 30px;
$uk-flag-height: 30px;
$uk-flag-total-width: 204px;
$uk-flag-total-height: 324px;
$uk-flag-image: '../images/sprite.png';
$uk-flag: (139px, 165px, -139px, -165px, 30px, 30px, 204px, 324px, '../images/sprite.png', 'uk_flag', );
$whatsapp-mobile-name: 'whatsapp-mobile';
$whatsapp-mobile-x: 174px;
$whatsapp-mobile-y: 102px;
$whatsapp-mobile-offset-x: -174px;
$whatsapp-mobile-offset-y: -102px;
$whatsapp-mobile-width: 20px;
$whatsapp-mobile-height: 20px;
$whatsapp-mobile-total-width: 204px;
$whatsapp-mobile-total-height: 324px;
$whatsapp-mobile-image: '../images/sprite.png';
$whatsapp-mobile: (174px, 102px, -174px, -102px, 20px, 20px, 204px, 324px, '../images/sprite.png', 'whatsapp-mobile', );
$whatsapp-name: 'whatsapp';
$whatsapp-x: 56px;
$whatsapp-y: 164px;
$whatsapp-offset-x: -56px;
$whatsapp-offset-y: -164px;
$whatsapp-width: 40px;
$whatsapp-height: 40px;
$whatsapp-total-width: 204px;
$whatsapp-total-height: 324px;
$whatsapp-image: '../images/sprite.png';
$whatsapp: (56px, 164px, -56px, -164px, 40px, 40px, 204px, 324px, '../images/sprite.png', 'whatsapp', );
$spritesheet-width: 204px;
$spritesheet-height: 324px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arma-logo-dark, $calendar-icon, $cell-phone, $clock, $contact-location, $contact-mail-icon, $contact-phone-icon, $contact-skype-icon, $contact-viber-icon, $contact-watsapp-icon, $facebook-mobile, $facebook, $find-on-map-icon, $fr-flag, $get-price-icon, $information-icon, $instant-call-icon, $location, $logo, $mail-mobile, $mail, $map-icon, $phone-mobile, $phone, $sa-flag, $scrolla-mobile, $scrolla, $spec-list-icon, $tr-flag, $uk-flag, $whatsapp-mobile, $whatsapp, );
$spritesheet: (204px, 324px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
