//colors
$brand_color: #f79628;
$brand_dark_gray: #494949;
$brand_gray: #7a7b7d;
$brand_blue: #d7f0f7;
$brand_pink: #f5dee7;
$brand_green: #dee9c4;
$brand_violet: #e6ccf1;
$brand_latte: #cd6d57;

//font families
$font_head: 'SinkinSansLt', Helvetica,Arial,sans-serif;
$font_copy: 'RubikLt',Helvetica,Arial,sans-serif;

//font sizes
$font_head_size: 36px;
$font_copy_size: 15px;
$font_nav_size: 14px;
$font_logo_size: 21px;
$font_size_slide_caption: 60px;

//padding sizes
$pad_size_nav_link: 25px;

//z-indexes
$zindex_side_panel: 7;

//widths
$sidebar_width : 321px;

//heights
$header_content: 88.6vh;
$hero_height: 410px;

//border sizes
$triangle_border_size: 10px;