html,body{
    font-family: $font_copy;
    position: relative;
    overflow-x: hidden;
    &.detail{
        padding-bottom: 30px;
    }
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    &,&:hover,&:focus {
        text-decoration: none;
    }
    transition: color ease .3s;
}
h2 {
    margin-top: 0;
}
h1,h2,h3,h4,h5,h6,p {
    color:$brand_gray;
}