//icons start
@include sprites($spritesheet-sprites);
//positions
.relative {
    position: relative;
}

.seperator {
    width: 80%;
    margin: 0 auto;
    @include breakpoint(smalls) {
        display: none;
    }
    &_full {
        width: 100%;
    }
    &_space {
        border: none;
        margin: 30px auto;
    }
}

.p_big {
    font-family: $font_head;
    font-size: 14px;
}

.pb60 {
    padding-bottom: 60px;
}

%standart_box_shadow {
    box-shadow: rgba(0, 0, 0, .2) 0 0 20px;
}

.no-scroll {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.no-scroll-f-menu {
    overflow: hidden;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}